.required:after {
    content: " *";
    color: red;
}
.fc-event, .fc-daygrid-day-frame {
    cursor: pointer!important;
}
.fc-addSeance-button {
    background-color: #669bbc !important;
    border-color: #5e93b4 !important;
}
.fc-addSeance-button:hover {
    background-color: #5b849d !important;
}
.fc-deleteAllSeances-button {
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.fc-deleteAllSeances-button:hover {
    background-color: #bb2d3b !important;
}
.svg-container svg {
    height: 100%;
    width: auto;
}
.col-droite-session {
    background-color: rgba(233, 233, 233, 1);
}